<!--The content below is only a placeholder and can be replaced.-->
<section class="hero is-fullheight is-default is-bold">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" routerLink='/home'>
            <span>thezachcannon</span>
          </a>
          <span class="navbar-burger burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <div class="tabs is-right">
              <ul>
                <li>
                  <a routerLink='/home'>Home</a>
                </li>
                <li>
                  <a routerLink='/about'>About</a>
                </li>
                <li>
                  <a routerLink='/resume'>Resume</a>
                </li>
                <li>
                  <a routerLink='/code'>Code</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="hero-body">
      <router-outlet></router-outlet>
  </div>

  <div class="hero-foot">
    <div class="container">
      <div class="tabs is-centered">
        <ul>
          <li>
              Continuously Innovating...
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
