<!--The content below is only a placeholder and can be replaced.-->
<section class="hero is-fullheight is-default is-bold">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" routerLink='/home'>
            <span>thezachcannon</span>
          </a>
          <span class="navbar-burger burger" data-target="navbarMenu" (click)='openNavMenu()' [ngClass]='{"is-active" : navBarOpen}'>
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenu" class="navbar-menu" [ngClass]='{"is-active" : navBarOpen}'>
          <div class="navbar-end">
            <div class='navbar-item'>
              <a routerLink='/home' (click)='navBarOpen = false'>Home</a>
            </div>
            <div class='navbar-item' >
              <a routerLink='/about' (click)='navBarOpen = false'>About</a>
            </div>
            <div class='navbar-item'>
              <a routerLink='/resume' (click)='navBarOpen = false'>Resume</a>
            </div>
            <div class='navbar-item'>
              <a routerLink='/code' (click)='navBarOpen = false'>Code</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="hero-body">
    <router-outlet></router-outlet>
  </div>

  <div class="hero-foot">
    <div class="container">
      <div class="tabs is-centered">
        <ul>
          <li>
            Continuously Innovating...
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
